modules = ["nodejs-20", "web", "nix"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "discord-bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "web-server"

[[workflows.workflow]]
name = "discord-bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "web-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
